@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 10, 10);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(10, 10, 10);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

h2 {
   position: relative;
  left: 10%;
  top: 5px;
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

#menu {
   border-radius: 50px;
  width: 200px;
  padding: 10px;
  position: relative;
  right: 20px;
  top: 5px;
  background-color: rgb(28, 26, 26);
  border: none;
  color: white;
  font-size: small;
}

#episodes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 100px 20px 40px 20px;
}

.episode-card {
  width: 200px;
  height: 250px;
  background-color: rgb(28, 26, 26);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  
}

.episode-card:hover {
  transform: scale(1.05);
}

.episode-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
  padding-bottom: 7px;
}

.episode-details {
  padding: 12px;
  font-size: 13px;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  #menu {
    width: 200px;
  }
}

@media (max-width: 498px) {
  h2 {
    display: none;
  }
  
  nav {
    justify-content: center;
  }

  #menu {
    width: 250px;
  }
}