@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(10, 10, 10);
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(10, 10, 10);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

h2 {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  margin: 0;
}

#menu {
  border-radius: 50px;
  width: 200px;
  padding: 10px;
  background-color: rgb(28, 26, 26);
  border: none;
  color: white;
  font-size: small;
  outline: none;
}


i {
  color: white;
  font-size: medium;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-start-start-radius: 5px;
}

.episode-card {
  width: 200px;
  height: 250px;
  margin: auto;
  position: relative;
  top: 150px;
  border-radius: 5px;
  background-color: rgb(28, 26, 26);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  color: white;
}

.episode-title {
  font-size: 13px;
  line-height: 1.4;
  padding: 6px 10px;
  height: 40px;         
  overflow: hidden;
  position: absolute;
  bottom: 50px;

  
}

.social-icons {
 position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.social-icons i {
  font-size: 20px;
  cursor: pointer;
}



@media (max-width: 498px) {
  h2 {
    display: none;
  }

  #menu{
    width: 220px;
  }
  
  nav {
    justify-content: center;
  }

}
